/* Variables */
:root {
    --main-Color : #00bcd4;
    --main-color-dark : #008ba3;
    --main-color-light: #62efff;
    --main-transition: 0.5s;
    --section-padding-top: 60px;
    --section-padding-bottom: 60px;
}
/* End variables declaration */

/* General rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    
}

html{
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

@media (max-width : 767px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width : 991px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1100px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/* End general rules  */

/* Styling the settingsbox */
.settings-box {
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    left: -250px;
    z-index: 1000;
    background-color: white;
    border-right: 2px solid var(--main-color-dark);
    transition: var(--main-transition);
}

.settings-box.opened{
    left : 0;
}

.toggle-btn-container{
    background: white;
    color: var(--main-color-dark);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 100px;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--main-transition);
}

.settings-box .shower {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings-box .toggle-btn-container:hover{
    background: var(--main-color-dark);
    color: white;
}

.settings-box h3 {
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: var(--main-color-dark);
    text-align: center;
}

.settings-box .section {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #eee;
}

.settings-box .section h4 {
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 17px;
}


.settings-box .section .options li {
    margin-left: 20px;
    padding: 5px;
    border-bottom: 1px solid var(--main-color-dark);
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: var(--main-transition);
    display: flex;
    align-items: center;
}

.settings-box .section .options li .round {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    display: block;
    border-radius: 50%;
}

.settings-box .section .options li:hover,
.settings-box .section .options  .active {
    background: var(--main-Color);
    color: var(--main-color-light);
}

.background-options {
    text-align: center;
}

.background-options span {
    display: inline-block;
    background: var(--main-Color);
    border-radius: 4px;
    color: white;
    padding: 5px;
    width: 40px;
    cursor: pointer;
    opacity: 0.5;
    transition: var(--main-transition);
}

.background-options span:hover,
.background-options span.active {
    opacity: 1;
}


/* End the settings box */


/* Start Header styling */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 60px;
}

header::before {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: 3px;
    left: 0;
}

header .logo {
    color: var(--main-Color);
    font-weight: bold;
    font-size: 22px;
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

header .toggle-menu {
    display: none;
}

@media (max-width:768px) {
    header ul {
        display: none;
        flex-direction: column;
        position: absolute;
        background: var(--main-color-light);
        color: black;
        height: 60px;
        padding: 10px;
        width: 40%;
        top: 45px;
        left: 60%;
    }
    header .toggle-menu {
        display: block;
    }
}


header ul li a{
    padding: 15px;
    color: white;
    font-weight: bold;
    height: 70px;
    transition: var(--main-transition);
}



header ul li a:hover,
header ul li .active  {
      color: var(--main-color-light);
      border-bottom: 2px solid var(--main-color-light);
}

/* End header styling */

/* Special heading  */
.special-heading {
    text-align: center;
    color: var(--main-Color);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* End special heading */

/* Start landing page styling */
.landing-page {
    min-height: 100vh;
    background-image: url(../img/phoneblue.jpg);
    background-size: cover;
    position: relative;
}

.landing-page::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 60%);
}

.previous-back,
.next-back {
    position: absolute;
    color: white;
    cursor: pointer;
    transition: var(--main-transition);
}

.previous-back:hover,
.next-back:hover {
   color: var(--main-color-light);
}

.previous-back {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.next-back {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.landing-page .jumptron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}

.landing-page .jumptron h1 {
    color: var(--main-color-dark);
    font-weight: bold;
    font-size: 60px;
}


.landing-page .jumptron P{
    color: white;
    font-size: 20px;
    line-height: 1.5;
}

.landing-page .jumptron a {
    display: block;
    background: var(--main-Color);
    padding: 10px;
    width: 150px;
    margin: 30px auto;
    color: white;
    font-size: 17px;
    font-weight: bold;

    transition: var(--main-transition);
}

.landing-page .jumptron a:hover {
    background-color: var(--main-color-light);
    color: var(--main-color-dark);
    transform: scale(1.1);
}

/* End landing page styling */

/* Start About section styling */

.about{
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}

.about .container {
    display: flex;
}

.about .image-holder {
    width: 40%;
    margin-right: 40px;
}

@media (max-width: 768px) {
    .about .image-holder {
        display: none;
    }
}

.about .image-holder img {
    max-width: 100%;
}

.about .info-box {
    flex:1;
}

@media (max-width: 768px) {
    .about .info-box {
        text-align: center;
    }
}

.about .info-box h2 {
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    color: var(--main-Color);
}

.about .info-box p {
    line-height: 1.6;
    font-size: 18px;
    color: #777;
    text-align: justify;
}

/* Start skills section */
.skills{
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background: #eee;
}

.skills .content{
   display: flex;
   flex-direction: column;
   gap: 50px;
}

.skills .content .skill {
    display: flex;
    background: #ccc;
    padding: 10px;
} 

.skills .content .skill h3{
    flex-basis: 120px;
    margin-right: 10px;
}

.skills .content .skill .progress-bar {
    height: 25px;
    border-radius: 5px;
    flex:1;
    background: #ddd;
    
}

.skills .content .skill .progress {
    height: 100%;
    width: 0;
    position: relative;
    background-color: var(--main-Color);
    transition: 3s;
}

.skills .content .skill .progress::before {
    content: attr(data-progress);
    width: 50px;
    height: 25px;
    background: white;
    border: 1px solid var(--main-Color);
    position: absolute;
    top: -45px;
    border-radius: 6px;
    color: var(--main-Color);
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End skills section */

/* Start gallery section */
.gallery {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
.gallery .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px , 1fr));
    gap: 20px;
}
.gallery .box {
    padding: 10px;
    background: #eee;
}
.gallery .image {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.gallery .image img {
    max-width: 100%;
    transition: var(--main-transition);
}

/* .gallery .image::before {
    content: "";
    z-index: 1;
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.39);
    transition: var(--main-transition);
} */

.gallery .box:hover .image::before {
    width: 100%;
    height: 100%;
}

.gallery .box:hover .image img {
    transform: scale(1.2) rotate(10deg);
}

/* Style the popup */
.popup-overlay{
    position:fixed; 
    width:100%; 
    height:100%; 
    top:0; 
    left:0; 
    background: rgb(0 0 0 / 60%);
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 20px; 
    margin: 40px auto; 
    background:white;
    width: 60%;
    height: 60%;
    text-align: center;
}

.popup-box img {
    max-width: 100%;
    height: 80%;
}

.popup-box h3 {
  margin-bottom: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

.popup-box .close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(117, 25, 25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
    transition: var(--main-transition);

}

.popup-box .close-button:hover{
    background-color: white;
    color: rgb(117, 25, 25);
    border: 1px solid rgb(117, 25, 25);
}

/* End gallery section */


/* Start timeline section */
.timeline {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background: #eee;
}

.timeline .line{
  position: relative;
  width: 80%;
  margin: 0 auto;
  width: 3px;
  height: fit-content;
  background-color: var(--main-Color);
}

.timeline .part {
  position: relative;
  background: white;
  width: 250px;
  opacity: 0;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  transition: 10s;
}
.timeline .part::before {
    content: "";
    width: 10px;
    height: 10px;
    border: 3px solid var(--main-Color);
    border-radius: 5px;
    position: absolute;
    background: white;
    transform: rotate(45deg);
}

.timeline .part:nth-child(odd) {
    right: -50px;
}

.timeline .part:nth-child(odd)::before {
    bottom: 0;
    left: -67px;
}

.timeline .part:nth-child(even) {
    left: -50px;
    transform: translateX(-100%);
}

.timeline .part:nth-child(even)::before {
    bottom: 0;
    right: -49px;
}



.timeline .part .year {
    padding: 10px;
    width: 60px;
    height: 26px;
    position: absolute;
    background: var(--main-color-light);
    top: -13px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.timeline .part h1 {
    font-size: 20px;
    margin-top: 5px;
    color: var(--main-color-dark);
}


.timeline .part p {
    color: #777;
    font-size: 15px;
    margin-bottom: 10px;
}


